
Library/ScriptAssemblies/Unity.TextMeshPro.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.pdb
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.pdb
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/metadata/34/34f333cee96932e4aabc03e105505143
Library/metadata/34/34f333cee96932e4aabc03e105505143.info
Library/metadata/53/5320c200a6b4bba48b4b5a219d5c8832.info
*.info
Library/metadata/34/34f333cee96932e4aabc03e105505143
*.mat
Assets/prefabs/Red_Particle_System.prefab
Assets/Scenes/Boras Test Level.unity
Assets/materials/mat_Blue_Shader.mat
Assets/materials/mat_ParticleBlue.mat
Assets/materials/mat_ParticleGreen.mat
Assets/materials/mat_ParticleOrange.mat
Assets/materials/mat_ParticleYellow.mat
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
Assets/prefabs/Red_Particle_System.prefab
Assets/Scenes/Boras Test Level.unity
Assets/materials/mat_Blue_Shader.mat
Assets/materials/mat_ParticleBlue.mat
Assets/materials/mat_ParticleGreen.mat
Assets/materials/mat_ParticleOrange.mat
Assets/materials/mat_ParticleYellow.mat
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
ProjectSettings/EditorBuildSettings.asset
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp-firstpass.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp-firstpass.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp-Editor-firstpass.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp-Editor-firstpass.csproj.CoreCompileInputs.cache
Library/StateCache/SceneView/1bccb3-mainStage.json
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/ScriptAssemblies/Unity.TextMeshPro.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.pdb
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.pdb
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp-firstpass.pdb
Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.pdb
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor-firstpass.pdb
Library/ScriptAssemblies/Assembly-CSharp-Editor-firstpass.dll
Library/metadata/f8/f8658c361aaf2ba458ec282c3b254dec.info
Library/metadata/de/def5fc5e22d05f146a7315e84178cdba
Library/metadata/d8/d8673295c081d53479092ef32262a124
Library/metadata/bd/bdaf482386fc66b47ad8e24913c0f02c
Library/metadata/b1/b118a758a937c9741a9a77e53914d001.info
Library/metadata/b1/b118a758a937c9741a9a77e53914d001
Library/metadata/a4/a490f0398d826d748a3984291e5c411f
Library/metadata/90/90881f35a91f05b4695a804bf908db55
Library/metadata/5f/5f6327f09206d3747888a7e4e2a6deee
Library/metadata/3f/3fcf1162ee8d31d4dab732249f580423
Library/metadata/33/333af40bb3405bd4f95c7f9ef9697031
Library/metadata/28/28b4c68816b9f9041b17f9b7d7461b58.info
Library/metadata/28/28b4c68816b9f9041b17f9b7d7461b58
Library/metadata/1f/1f82181a6609a234eabd57f06a808f3e
Library/metadata/01/01f390d931d30434ab3f8c381e1d22cc.info
Library/metadata/01/01f390d931d30434ab3f8c381e1d22cc
Library/LastSceneManagerSetup.txt
Library/InspectorExpandedItems.asset
Library/CurrentLayout.dwlt
Library/assetDatabase3
fmod_editor.log
Assets/scripts/Maps/Spinner.asset.meta
Assets/scripts/Maps/Spin 2 Win.asset.meta
Assets/scripts/Maps/Spin 2 Win.asset
Assets/scripts/Maps/Spiked Walls.asset.meta
Assets/scripts/Maps/Spiked Walls.asset
Assets/scripts/Maps/Portals.asset.meta
Assets/scripts/Maps/Portals.asset
Assets/scripts/Maps/pogChamp.asset.meta
Assets/scripts/Maps/pogChamp.asset
Assets/scripts/Maps/Moving Portals.asset
Assets/scripts/Maps/Diamond.asset
Assets/scripts/Maps/Cross.asset.meta
Assets/scripts/Maps/4 Player Test.asset.meta
Assets/scripts/Maps/4 Player Test.asset
Assets/scripts/GameManager.cs
Assets/Scenes/Playable_Maps/spin 2 win.unity.meta
Assets/Scenes/Playable_Maps/spin 2 win.unity
Assets/Scenes/Playable_Maps/FFA with center obstacle.unity.meta
Assets/Scenes/Playable_Maps/FFA with center obstacle.unity
Assets/Scenes/Playable_Maps/Deans test level.unity.meta
Assets/Scenes/Playable_Maps/Deans test level.unity
Assets/FMODStudioCache.asset
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-firstpass.csproj
.vs/GD-Year-4-Prototype/v15/Server/sqlite3/storage.ide-wal
.vs/GD-Year-4-Prototype/v15/Server/sqlite3/storage.ide-shm
.vs/GD-Year-4-Prototype/v15/.suo
